{% extends "base.html" %}
{% block content %}
    <div class='reg-container'>
        <h1 style='text-align: center;'>Регистрация пользователя</h1>
        <form action="" method="post" id='register' name='register'>
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username:">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Re-enter password">
            <div class='reg-buttons'>
                <input type="submit" value="Register" id='button1' name='button'>
                <input type="reset" value="Reset" id='button2' name='button'>
            </div>
        </form>
    </div>
{% endblock %}